{% extends 'base.html.twig' %}

{% block title %} Tareas{% endblock %}

	{% block body %}            

		<h1>Members</h1>
		<ul>
			{% for t in tareas %}
				<li>{{ t.id }} - {{ t.descripcion }}</li>
			{% endfor %}
		</ul>
	{% endblock %}